body {
    font-family: Roboto, sans-serif;
    background-color: #f4f5f6;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer !important;

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1rem;
}